<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link rel="icon" href="pro.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://bootswatch.com/5/cosmo/bootstrap.min.css" />
    <title>DOCENTES</title>
</head>

<body>
    <!-- NAVIGACIÓN-->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">DOCENTES</a>
        </div>
    </nav>
    <div class="container p-4" id="app">
        <div class="row">
            <div class="col-md-4">

                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <form method=POST action="{{ url_for('register') }}">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Username</label>
                                    <input type="text" class="form-control" name="username" placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" name="pass" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">Register</button>
                            </form>
                            <br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8" id="books-cards"></div>
        </div>
    </div>
    <script type="module" src="/src/main.js"></script>
</body>
<style>
    body{
        background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSNHgH0sGoKQog3sC1in4s2LFrm_GurM5fMw&usqp=CAU) no-repeat center center fixed;
    background-size: cover;
    }


</style>

</html>